# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# DOCKERFILE

qt5pibuilder/qt5
qt5pibuilder/qt5pi 
qt5pibuilder/qtbase
qt5pibuilder/qtdeclarative
qt5pibuilder/qtquickcontrols
qt5pibuilder/qtserialport
qt5pibuilder/qtxmlpatterns

qt5pibuilder/sysroot/
qt5pibuilder/sysroot.tar.gz
qt5pibuilder/sysroot-relativelinks.py
